<!DOCTYPE html>
<html >
<head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
</head>
<body class="container" ng-app="home" ng-controller="homeCtrl">
    <%- include topnav%>
    <div class="home-zhihu col-md-12 ">
        <div class="left-content col-md-8 ">
            <div class="detail panel panel-default">
                <div class="panel-heading">
                    <h4><strong>Three</strong>,Android/前端</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 pull-left">
                            <img class="user-avatar" src="/images/static/liukanshan.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pull-left vote-detail">
                            <span>获得 141赞同 37感谢</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-pills">
                        <li role="presentation"  ng-class="{active : activeMenu === 'Home'}"  ng-click="activeMenu = 'Home'">
                            <a href="#/ans" >Home</a>
                        </li>
                        <li role="presentation"  ng-class="{active : activeMenu === 'Ans'}" ng-click="activeMenu = 'Ans'">
                            <a href="#/ans" >回答</a>
                        </li>
                        <li role="presentation" ng-class="{active : activeMenu === 'Que'}" ng-click="activeMenu = 'Que'">
                            <a href="#/que">提问</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-view></div>
        </div>
        <div class="right-others col-md-4 ">
            <img id="working" src="/images/static/working.png" alt="">
            <span id="warning">抱歉，这边正在紧张的施工…</span>
        </div>
    </div>

    <script>
        angular.module("home",['ngRoute'])
            .config(['$routeProvider',
            function ($routeProvider) {
                $routeProvider.when('/', {
                    templateUrl: '/partials/ans.html',
                    controller:"ansCtrl"
                }).when('/ans', {
                    templateUrl: '/partials/ans.html',
                    controller:"ansCtrl"
                }).when('/que', {
                    templateUrl: '/partials/que.ejs',
                    controller:"queCtrl"
                }).otherwise({
                    redirectTo:'/'
                });
            }]);
    </script>
    <script type="text/javascript" src="/controller/homeCtrl.js"></script>
    <script type="text/javascript" src="/controller/ansCtrl.js"></script>
    <script type="text/javascript" src="/controller/queCtrl.js"></script>
</body>
</html>
