<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body class="container">
    <%- include topnav%>
    <div class="home-zhihu col-md-12  ">
        <div class="left-content col-md-8 ">
            <div class="detail panel panel-default">
                <div class="panel-heading">
                    <h4><strong>Three</strong>,Android/前端</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 pull-left">
                            <img class="user-avatar" src="/images/static/liukanshan.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pull-left vote-detail">
                            <span>获得 141赞同 37感谢</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer panel panel-default">
                <div class="panel-heading">回答</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="right-others col-md-4 ">
            <img id="working" src="/images/static/working.png" alt="">
            <span id="warning">抱歉，这边正在紧张的施工…</span>
        </div>
    </div>
</body>
</html>
