<!DOCTYPE html>
<html>
<head>
    <title>知乎登陆</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</head>
<body>
    <div class="page-body text-center">

        <div class="main-content" >
            <div class="index-header">
                <h1 class="logo">知乎</h1>
                <h4 class="subtitle">与世界分享你的知识、经验和见解</h4>
            </div>
            <div class="view-signup">
                <form class="form-horizontal">
                    <div class="form-group input-sign">
                        <label for="inputEmail3" class="control-label sr-only">Email</label>
                        <div class="col-md-12">
                            <input type="nickname" class="form-control" name="nickname" placeholder="NickName">
                        </div>
                    </div>
                    <div class="form-group input-sign">
                        <label for="inputPassword3" class="control-label sr-only">Password</label>
                        <div class="col-md-12">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group input-sign">
                        <label for="inputPassword3" class="control-label sr-only">Password</label>
                        <div class="col-md-12">
                            <input type="password" class="form-control" name="passwordAgain" placeholder="Password Again">
                        </div>
                    </div>
                    <div class="form-group sub-sign">
                        <div class=" col-md-12">
                            <button type="submit" class="btn btn-primary btn-sign">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script>
        angular.module("zhihu",[]);
    </script>
</body>


</html>
