<form class="form-horizontal" ng-controller="loginCtrl" ng-submit="login()">
    <div class="form-group input-login">
        <label  class="control-label sr-only">Email</label>
        <div class="col-md-12">
            <input type="nickname" class="form-control" ng-model="user" name="nickname" placeholder="NickName">
        </div>
    </div>
    <div class="form-group input-login">
        <label  class="control-label sr-only">Password</label>
        <div class="col-md-12">
            <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="form-group sub-login">
        <div class=" col-md-12">
            <button type="submit" class="btn btn-primary btn-login">Login</button>
        </div>
    </div>
</form>